<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                           
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23965463?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23982205?query=java%20Odessa">Старший разработчик Java / Java Software Architec</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">4&nbsp;000-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23910122?query=java%20Odessa">Senior Automation (Java) QA&nbsp;Engineer (SDET)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23881487?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23881503?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23358990?query=java%20Odessa">Senior Java Engineer / Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23358992?query=java%20Odessa">Senior Java Engineer / Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23358981?query=java%20Odessa">Senior Automation (Java) QA Engineer (SDET)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23737643?query=java%20Odessa">QA Automation (Python or Java)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23981569?query=java%20Odessa">Perl or Java Developer (Odessa or remote)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23917417?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23910125?query=java%20Odessa">Senior Automation (Ja⁢va) QA Engineer SDET</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23982248?query=java%20Odessa">Java Chief Software Architect</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">7&nbsp;000-8&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23982308?query=java%20Odessa">Chief Architect - Test Automation</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">7&nbsp;000-8&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23975595?query=java%20Odessa">Senior C++ Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23982187?query=java%20Odessa">C# (.NET) Software Architect</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">4&nbsp;800-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23902365?query=java%20Odessa">Blockchain Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23776313?query=java%20Odessa">Программист ( IBM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24032620?query=java%20Odessa">Software support specialist</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Data Virtuality GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23924436?query=java%20Odessa">Junior QA Automation engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23983788?query=java%20Odessa">Водитель со своим легковым автомобилем</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Такси 797, Мультисервис</td> 
     <td class="salary">от 10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24014256?query=java%20Odessa">Системный администратор</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23892965?query=java%20Odessa">Automation ‎QA Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23946897?query=java%20Odessa">Back-end Developer (Salesforce Commerce Cloud)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">OSF Global Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23831521?query=java%20Odessa">Machine Learning Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Gallantra Business Intelligence</td> 
     <td class="salary">1&nbsp;500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/22842399?query=java%20Odessa">Senior PHP Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary">2&nbsp;200-4&nbsp;950 USD</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>